.CreateActivity {
    background-image: url('../CSS/Imagenes/wallpaperbetter\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 1060px;
}

.CreateActivity h1 {
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(167, 167, 167), rgb(0, 50, 214));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    color: white;
    margin: 10px;
}

.Select button {
    padding: 10px 10px;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.Select {
    display: flex;
    margin: 5px;
    align-items: center;
    flex-direction: column;
}

.Select li {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    padding: 10px;
    border-style: groove;
    border-radius: 20px;
    margin: 10px;
}

.Select ul {
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.Select button {
    margin-left: 10px;
}

.CreateActivity label {
    background: -webkit-linear-gradient(rgb(167, 167, 167), rgb(0, 50, 214));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
}

#submit {
    padding: 20px 80px;
    margin: 20px;
}